{% load static %}
<!-- Home Section -->
<section class="home" id="home">
    <div class="home-content">
        <div class="home-text">
            <span>Olá, eu sou</span>
            <h1>Guilherme Nunes</h1>
            <h2>{{ site_config.job_title_pt|default:"Data Scientist" }}</h2>
            <p>{{ site_config.slogan_pt|default:"Transformando dados em insights valiosos." }}<br>Especialista em análise, extração e visualização de dados.</p>
            <div class="btn-group">
                <a href="#contact" class="btn">
                    <i class='bx bx-chat'></i> Entre em contato
                </a>
                <a href="{% url 'portfolio:certificados' %}" class="btn btn-secondary">
                    <i class='bx bx-award'></i> Ver Certificados
                </a>
            </div>
        </div>
        <div class="home-img">
            <div class="img-wrapper">
                {% if site_config.profile_image %}
                    <img src="{{ site_config.profile_image.url }}" alt="Guilherme Nunes">
                {% else %}
                    <img src="{% static 'img/Foto3.png' %}" alt="Guilherme Nunes">
                {% endif %}
            </div>
        </div>
    </div>
</section>
