<!-- Contact Section -->
<section class="contact" id="contact">
    <div class="heading">
        <h1>Entre em <span>Contato</span></h1>
    </div>
    <div class="contact-container">
        <div class="contact-info">
            <div class="contact-box">
                <i class='bx bxs-map'></i>
                <div class="text">
                    <h3>Localização</h3>
                    <p>Brasília - DF, Brasil</p>
                </div>
            </div>
            <div class="contact-box">
                <i class='bx bxs-phone-call'></i>
                <div class="text">
                    <h3>Telefone</h3>
                    <p>+55 (61) 99546-2222</p>
                </div>
            </div>
            <div class="contact-box">
                <i class='bx bxs-envelope'></i>
                <div class="text">
                    <h3>E-mail</h3>
                    <p>guilhermenunesfev26@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
