<!-- Services Section -->
<section class="services" id="services">
    <div class="heading">
        <h1><span>Serviços</span></h1>
    </div>
    <div class="services-container">
        <div class="box">
            <i class='bx bx-data'></i>
            <h2>ETL & Data Pipeline</h2>
            <p>Extração e tratamento de dados através de Scripts Python, Web Scraping, Data Mining e Cloud Computing</p>
        </div>
        <div class="box">
            <i class='bx bxs-dashboard'></i>
            <h2>Data Visualization</h2>
            <p>Criação de dashboards interativos com Power BI e visualizações avançadas usando bibliotecas Python</p>
        </div>
        <div class="box">
            <i class='bx bx-code-alt'></i>
            <h2>Web Development</h2>
            <p>Desenvolvimento de sites, , e-commerces e aplicações web modernas e responsivas</p>
        </div>
        <div class="box">
            <i class='bx bxs-data'></i>
            <h2>Database Management</h2>
            <p>Gestão de bancos de dados SQL Server e MySQL, otimização de queries e integração de dados</p>
        </div>
        <div class="box">
            <i class='bx bx-code-block'></i>
            <h2>System Development</h2>
            <p>Desenvolvimento de sistemas completos utilizando Python, C# e JavaScript</p>
        </div>
        <div class="box">
            <i class='bx bx-bot'></i>
            <h2>Process Automation</h2>
            <p>Automação de processos com RPA, integração com APIs e automação de workflows</p>
        </div>
    </div>
</section>
